body {
  background-color: lightblue;
}

p.dotted {
  border-style: dotted;
}

p {
  margin: 25px 50px 75px 100px;
}

div {
  padding-top: 50px;

  padding-right: 30px;

  padding-bottom: 50px;

  padding-left: 80px;
} 

p.dotted {
  border-style: dotted;
}

p.dashed {
  border-style: dashed;
}

p.solid {
  border-style: solid;
}

p.double {
  border-style: double;
}
