body {
  background-color: lightblue;
}

hi {
  style="color:Tomato;" : Hello World ;
}

p {
  margin: 25px 50px 75px 100px;
}

p.dashed {
  border-style: dashed;
}

div {
  padding-top: 50px;

  padding-right: 30px;

  padding-bottom: 50px;

  padding-left: 80px;
} 
